<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>new user</title>
        <meta name="description" content="">
        <link type="text/css" rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <h1>ユーザー追加フォーム</h1>
        <form action="/" method="POST">
            <table>
                <tr>
                    <th>名前</th>
                    <td><input type="text" name="name" value=""><span id="nameError" class="error"></span></td>
                </tr>
                <tr>
                    <th>フリガナ</th>
                    <td><input type="text" name="kana_name" value=""><span id="kana_nameError" class="error"></span></td>
                </tr>
                <tr>
                    <th>性別</th>
                    <td>
                        <label class="radio"><input type="radio" name="gender" value="男性">男性</label>
                        <label class="radio"><input type="radio" name="gender" value="女性">女性</label>
                        <br><span id="genderError" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>メールアドレス</th>
                    <td><input type="text" name="email" value=""><span id="emailError" class="error"></span></td>
                </tr>
                <tr>
                    <th>電話番号</th>
                    <td><input type="text" name="phone" value=""><span id="phoneError" class="error"></span></td>
                </tr>
                <tr>
                    <th>住所</th>
                    <td><input type="text" name="address" value=""><span id="addressError" class="error"></span></td>
                </tr>
                <tr>
                    <th>都道府県</th>
                    <td>
                        <select name="workplace">
                            <option value="" selected disabled>選択してください</option>
                            <% for(let i=0; i < prefectures.length; i++) { %>
                                <option value="<%= prefectures[i]["name"] %>"><%= prefectures[i]["name"] %>
                                </option>
                            <% }; %>
                        </select>
                        <br><span id="workplaceError" class="error"></span>
                    </td>
                </tr>
                <tr>
                    <th>世帯数</th>
                    <td><input type="text" name="household" value=""><span id="householdError" class="error"></span></td>
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" id="btn">追加</button></td>
                </tr>
            </table>
        </form>
        <script type="module">
            // バリデーションチェック
            import {formValidation} from '../script/formValidation.js'
            const btn = document.querySelector("#btn")
            btn.addEventListener("click", (event) =>{
                if(!formValidation()) event.preventDefault();
            })
        </script>
        <script>
        </script>
    </body>
</html>
