<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>顧客情報管理システム</title>
        <meta name="description" content="node.js課題">
        <link type="text/css" rel="stylesheet" href="./css/style.css">
    </head>
    <body>
        <div class="searchForm">
            <input type="text" name="search">
            <button id="searchBtn">名前検索</button>
        </div>
        <table class="clientList">
            <thead>
                <th>id</th>
                <th>名前</th>
                <th>フリガナ</th>
                <th>性別</th>
                <th>メールアドレス</th>
                <th>電話番号</th>
                <th>住所</th>
                <th>都道府県</th>
                <th>世帯数</th>
                <th>更新</th>
                <th>削除</th>
            </thead>
            <tbody>
            </tbody>
        </table>

        <p><a href="/create">ユーザーの追加</a></p>

        <script type="module">
            import { createTableData } from './script/createTableData.js'
            const personasOrg = JSON.parse('<%= JSON.stringify(personas) %>'.replace(/&#34;/g, '"'));
            // ページ読み込み時は初期値を出力
            window.onload = (event) => {
                createTableData(personasOrg);
            };

            // 検索ボタン
            const searchBtn = document.querySelector("#searchBtn")
            searchBtn.addEventListener("click", () => {
                const searchValue = document.querySelector("input[type='text'][name='search']").value;
                const searchedPersonas = [];
                personasOrg.map((person, index) => {
                    // 部分一致しているか判定
                    if(person["name"].indexOf(searchValue) > -1) {
                        searchedPersonas.push(person);
                    }
                });
                createTableData(searchedPersonas);
            });
        </script>
        <script>
        </script>
    </body>
</html>
